<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script type="text/javascript" src="/js/controllers/myAppController.js"></script>
  </head>
  <body>
    {{# if isHomePage}}

    {{ else }}

    {{/if}}
    {{{body}}}
  </body>
</html>
