
  <div style="padding-bottom: 20px">It is header part</div>
  <div class="container login_form" ng-controller="loginController">
      <div class="login_title">Log in to Studio</div>
      <div class="box">
        <form>
            <label>Username</label>
            <input type="text" ng-model="username" placeholder="Username" />
            <label>Password</label>
            <input type="password" ng-model="password" placeholder="Password" />
        </form>
      </div>
  </div>
  <script type="text/javascript" src="/js/controllers/loginController.js"></script>
