<div ng-controller="registerController">
    <h2>Register</h2>
    Username: <input type="text" ng-model="registername" /> {[registername]}
    Label: {[label]}
</div>
<script type="text/javascript" src="/js/controllers/registerController.js"></script>
